  body {
    background-image: url('fondo.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-origin: border-box;
    background-attachment: fixed;


  }

  #subtitulo {
    font-size:15px;
    margin-top: 0px;
    padding-bottom: 20px;
    background-color: ;
  }

  h1 {
    margin-left: 600px;
    text-align: right;
    font-size:50px;
    color:black;
    text-align: center;
    font-family: "Latin Modern Roman 10";
    font-style: oblique;

    padding: 25px 5px 5px 20px;
    background-color: ;


  }
  .info, .otros{
    text-align: center;
  }
  #espiga{
  float: right;
  margin-right: 200px;

  }


  h2 {
    text-align: center;
    background-color:orange;
  }
  .Datos{
    background-color:rgba(240,248,255,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  ul {
    list-style-position: inside;
    list-style-type:circle;
  }

  .infofoto{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    float:left;

  }
  .instagram {
  float:right;
  margin-right: 20px;
  }
  .infofoto {
    color: white;
    text-align: center;
  }

   img{
     border-radius: 8px;
   }


   * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
