{% load staticfiles %}

<html>
  <link rel="stylesheet" href="{% static 'styles.css'%}" type="text/css">
  <head>
    <meta charset="utf-8">
    <title>Bolleria El Foro</title>
  </head>
  <body>
    <div  class= "informacion" href="bolleria.html" style="  padding:10px; padding-bottom: 200px; margin: 10%;">
          <h2 style="margin-top:0px; font-size: 40px; ">Bollería</h2>
      <div id="galeria">
        <img src="{% static 'panaderia-fotos/magdalenas.png'%}" alt="Bollos" style=" margin-left: 55px; float:left" height=70% />
        <img src="{% static 'panaderia-fotos/donunts.png'%}" alt="Bollos" style=" margin-left: 20px; float:left" height=70%/>
        <img src="{% static 'panaderia-fotos/palmera.jpg'%}" alt="Bollos" style=" margin-left: 20px; float:left" height=70%/>

        </div>

        <p style=" margin-top: 0px; margin-left: 10%;  font-size: 30px;  font-style: oblique;  font-family: Latin Modern Roman 10; ">

        🍪  {{nombre1}} : {{precio1}} €   Stock {{stock1}} <br>
        🍪  {{nombre2}} : {{precio2}} €   Stock {{stock2}} <br>
        🍪  {{nombre3}} : {{precio3}} €   Stock {{stock3}} <br>
         </p>
    </div>
  </<body>

</html>
