{% load staticfiles %}

<html>
  <link rel="stylesheet" href="{% static 'styles.css'%}" type="text/css">
  <head>
    <meta charset="utf-8">
    <title>Panadería El Foro</title>
  </head>
  <body>
      <div  class= "informacion" href="panaderia.html" style=" padding:10px; padding-bottom: 300px; margin: 10%;">

        <div ><img src="{% static 'panaderia-fotos/gallegas.jpg'%}" alt="Pan tipo Gallega" style="margin-top: 40px; margin-left: 40px; float:left" height=50% /></div>
        <h2 style="margin-top:100px; font-size: 40px; ">PAN ELABORADO DIARIAMENTE CON MASA MADRE</h2>
        <p style=" margin-left: 350px; font-size: 30px;  font-style: oblique;  font-family: Latin Modern Roman 10; ">
        🥖  {{nombre1}} : {{precio1}} €   Stock {{stock1}} <br>
        🥖  {{nombre2}} : {{precio2}} €   Stock {{stock2}} <br>
        🥖  {{nombre3}} : {{precio3}} €   Stock {{stock3}} <br>
        🥖  {{nombre4}} : {{precio4}} €   Stock {{stock4}} <br>
        🥖  {{nombre5}} : {{precio5}} €   Stock {{stock5}} <br>


        </p>
      </div>
  </<body>

</html>
