{% load staticfiles %}

<html>
  <link rel="stylesheet" href="{% static 'styles.css'%}" type="text/css">
  <head>
    <meta charset="utf-8">
    <title>Pastelería El Foro</title>
  </head>
  <body>
    <div  class= "informacion" href="pasteleria.html" style=" padding:10px; padding-bottom: 200px;margin-top: 5%;">

      <div id="galeria"><img src="{% static 'panaderia-fotos/pasteles.jpg'%}" alt="Bollos" style=" margin-left: 20px; float:left" height=90% />
        <img src="{% static 'panaderia-fotos/tarta-toro.jpg'%}" alt="Bollos" style=" margin-left: 20px; float:left" height=90%/>
        <img src="{% static 'panaderia-fotos/tarta-boda.png'%}" alt="Bollos" style=" margin-left: 20px; float:left" height=90%/></div>

      <h2 style=" font-size: 40px;">Tartas originales y pastelitos para ocasiones especiales</h2>
      <p style="margin-left: 10%; font-size: 25px; font-style: oblique;  font-family: Latin Modern Roman 10;">
      🍰  {{nombre1}} : {{precio1}} €   Stock {{stock1}} <br>
      🍰  {{nombre2}} : {{precio2}} €   Stock {{stock2}} <br>
      🍰  {{nombre3}} : {{precio3}} €   Stock {{stock3}} <br>
      </p>
    </div>

  </<body>

</html>
